<#@ assembly name="System.Configuration" #>

<#
this.ClassName = "Gettext";
this.ResourceName = "";
this.NamespaceName = "RibbonUI.Translation";
this.DefaultResourceDir = "Languages"; 
this.DefaultFileFormat = "{{culture}}.po";
#>

<#@ include file="$(ProjectDir)Translation\Strings.tt" #>